.body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.main-menu{
    position: -webkit-sticky; /* For safari */
    position: sticky;
    top: 0;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #04AA6D;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}

.main-body {
    width: 100%;
    height: 90%;
    background-color: white !important;
    
}

.index-div{
    width: 100%;
    height: 35%;
}

.index-index-div-left{
    float: left;
    width: 49%;
    height: 100%;
}

.index-index-div-right{
    float: right;
    width: 19%;
    height: 100%;
    background-image: "./img/hero-bg-responsive.svg";
}

.input-table{
    text-align: center;
}

.footer{
    width: 100%;
    height: 5%;
    background-color: yellow !important;
}

#myTable{  margin: auto;
    width: 50%;
    padding: 10px;}

#responseTable{    margin: auto;
    width: 50%;
    padding: 10px;}

#responseTable td{border: 1px solid #000; align-items:center;padding: 10px; }
