<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>JS + Spring Data Rest</title>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>



<body>

  <div class ="main-menu" id="main-menu">
      <ul class="topnav">
        <li><a href="#" class="main-menu-href">HOME</a></li>
        <li><a href="#divInputTable" class="main-menu-href">INPUT TABLE</a></li>
        <li><a href="#div-responseTable" class="main-menu-href">RESPONSE TABLE</a></li>
        <li><a href="#listOfTable" class="main-menu-href">LIST OF TABLE</a></li>
        <li><a href="#contact" class="main-menu-href">CONTACT</a></li>
        <li style="float:right; padding: 0;"><a href="https://www.tesena.com/en" class="main-menu-href" style="float:right; padding: 12px; height: 100%;">
          <svg width="150px" height="40px" float="right" >       
            <image xlink:href="https://www.tesena.com/files/logo-tesena.svg" width="150px" height="40px" float="right"/>    
          </svg>
        </a></li>
      </ul>
  </div>
  <div class="main-body">
    
    <div class="index-div">
      
      <div class="index-div-left">
        <h1>Testing 360°</h1>
        We focus all our activities on testing.
      </div>
      <div class="index-div-right"></div>
    </div>

    <div class="input-table">
      <h2 class="web-h2">INPUT TABLE</h2>
      <button onclick="appendRow()">Add Row</button>
      <button onclick="appendColumn()">Add Column</button>
      <button onclick="deleteRows()">Delete Rows</button>
      <button onclick="deleteColumns()">Delete Columns</button>
      <button onclick="sendData()">Send Data</button>
      <table id="myTable">
          <thead id="myTableThead">
              <tr id="myTableTheadRow"></tr>
          </thead>
          <tbody id="myTableBody"></tbody>
      </table>
    </div>
    <div class="result-table">
      <h2>Response table</h2>
      <table id="responseTable">
        <tbody id="responseTableBody"></tbody>

      </table> 
    </div>
    <div class="list-of-table">
      <h2>List of Table</h2>
      2^3     n=4 </p>
      2^4 4^1     n=8  </p>
      2^11     n=12 </p>
      2^4 3^1     n=12  </p>
      2^2 6^1     n=12  </p>
      2^8 8^1     n=16  </p>
      2^5 3^3 4^1 6^7     n=72  </p>
      2^8 5^1     n=20  </p>
      2^2 10^1     n=20  </p>
      2^4 3^1 6^3     n=36  </p>
      2^3 3^2 6^3     n=36  </p>
      3^4     n=9  </p>
      3^6 6^1     n=18  </p>
      3^9 9^1     n=27  </p>
      4^5     n=16  </p>
      4^8 8^1     n=32  </p>
      5^6     n=25  </p>
    </div>
  </div>
  <div class="footer">
    <a href="https://www.facebook.com/tesena.smart.testing/" class="fa fa-facebook"></a>
    <a href="https://www.instagram.com/jsmetesena/?utm_medium=copy_link" class="fa fa-instagram"></a>
    <a href="https://www.youtube.com/channel/UCXAYaVsc9AocWpVzHiGXtHQ" class="fa fa-youtube"></a>
    <a href="https://www.linkedin.com/company/tesena/" class="fa fa-linkedin"></a>
  </div>
</body>
<script>
  var myNav = document.getElementById("main-menu");
  console.log(myNav);
  window.onscroll = function() {
    "use strict";
    if (document.body.scrollTop >= 280 || document.documentElement.scrollTop >= 280) {
      myNav.classList.add("scroll");
    } else {
      myNav.classList.remove("scroll");
    }
  };
</script>
</html>