<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>JS + Spring Data Rest</title>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
</head>
<body>
    <div>
        <div>
            <h1 style='text-transform: uppercase; text-align: center; padding-top: 50px;'>Pure DATA</h1>
        </div>
        <table id="myTable">
            <thead id="myTableThead">
                <tr id="myTableTheadRow"></tr>
            </thead>
            <tbody id="myTableBody"></tbody>

        </table>
            
        <button onclick="appendRow()">Add Row</button>
        <button onclick="appendColumn()">Add Column</button>
        <button onclick="deleteRows()">Delete Row</button>
        <button onclick="deleteColumns()">Delete Column</button>
        <button onclick="sendData()">Send Data</button>


    </div>

    <p></p>
    <h5>Response for debugging</h5>
    <textarea id="Response">response</textarea>  

    <p></p>
    <div>
        <h3 style='text-transform: uppercase; text-align: center; padding-top: 50px;'>Výsledek</h1>
    </div>
    <table id="responseTable">
        <tbody id="responseTableBody"></tbody>

    </table>
</body>